#find-provider {
  button,
  input[type="submit"],
  .btn-health {
    background-color: $uconn-blue;
    border: 1px solid transparent;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
    padding: 6px 12px;
    &:hover,
    &:focus {
      background-color: $health-teal;
    }
    &:focus,
    &:active {
      top: 0;
    }
  }
  .uhfp-back-button-container {
    margin: 30px 0;
  }
}