<template>
  <div>
    <helper-text type="dental" />
    <form @submit.prevent="submit">
      <div>
        <p class="required-notice"><small><em><span class="uhfp-required-icon">*</span> = Required Field</em></small></p>
      </div>
      <div>
        <label for="dental-lastname">Last Name</label>
        <input v-model="lastName" type="text" name="lastName" id="dental-lastname" placeholder="Smith">
      </div>
      <div>
        <label for="dental-specialty-select">Dental Discipline <span class="uhfp-required-icon" aria-hidden="true">*</span></label>
        <specialty-select category="DENTIST" v-model="specialties" id="dental-specialty-select" />
      </div>
      <div>
        <input 
          type="submit" 
          value="Search" 
          :disabled="specialties.length === 0 ? true : false"
        >
      </div>
    </form>
  </div>
</template>

<script>
import HelperText from './HelperText'
import SpecialtySelect from './SpecialtySelect'

import { submitSearchForm } from '../../utils/formSubmission'

export default {
  data() {
    return {
      category: 'DENTIST',
      lastName: '',
      specialties: []
    }
  },
  components: {
    'helper-text': HelperText,
    'specialty-select': SpecialtySelect
  },  
  methods: {
    submit() {
      submitSearchForm('results', {
        category: this.category,
        lastName: this.lastName,
        useParameters: true,
        specialties: this.specialties
      })
    }
  }

}
</script>