<template>
  <div>
    <div>
      <label for="name-filter">Filter By Name:</label>
      <input 
        v-model="search" 
        type="text" 
        id="name-filter" 
        @keydown.esc="clearSearch"
      >
    </div>
    <div class="uhfp-directory-container">
      <div role="region" aria-live="polite">
        <p v-if="error">An error occurred fetching the providers</p>
        <loading-directory v-else-if="isLoading">
          <p>Loading providers...</p>
        </loading-directory>
        <p v-else-if="search !== ''" >
          {{ providerCount }} providers found.
        </p>
      </div>
      <div v-if="Object.keys(allProviders).length > 0">
        <ul class="uhfp-directory-list">
          <li
            :key="index"
            v-for="(data, index) in filteredAllProviders"
            v-show="data.visible"
            :id="index"
            class="provider-letter-collection"
          > 
            {{ index }}
            <ul
              :key="index"
              v-for="(providers, index) in data"
              class="provider-name-group"
            >
              <li
                :key="index"
                v-for="(provider, index) in providers"
                v-show="provider.isVisible"
                :data-is-visible="provider.isVisible ? 'true' : 'false'"
              >
                <router-link :to="`/physician/${provider.profileId}`">
                  {{ fullName(provider.firstName, provider.middleName, provider.lastName, provider.credentials, true) }}
                </router-link>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingDirectory from '../Loading/LoadingDirectory'

export default {
  components: {
    'loading-directory': LoadingDirectory
  },
  data() {
    return {
      isLoading: true,
      error: false,
      allProviders: {},
      providerCount: 0,
      search: ''
    }
  },
  methods: {
    clearSearch() {
      this.search = ''
    }
  },
  apollo: {
    providers: {
      query: require('../../graphql/queries/allProviders.gql'),
      result({ data, loading, networkStatus }) {
        if (!loading) {
          this.isLoading = false
        }
        if (data) {
          
          this.allProviders = data.providers.nodes.sort((a, b) => {
            const nameA = a.lastName.toLowerCase()
            const nameB = b.lastName.toLowerCase()
            if (nameA < nameB) {
              return -1
            } else if (nameA > nameB) {
              return 1
            } else return 0
          }).map(provider => {
            provider.isVisible = true
            return provider
          }).reduce((acc, curr) => {
            const firstLetter = curr.lastName.charAt(0)
            if (!acc[firstLetter]) {
              acc[firstLetter] = { 
                data: [curr], 
                visible: true 
              }
            } else {
              acc[firstLetter].data.push(curr)
            }
            return acc
          }, {})
        }
      },
      error(error) {
        this.error = true
      }
    }
  },
  updated() {
    // immediately after the DOM has finished rendering, count the visible elements
    this.$nextTick(function() {
      this.providerCount = this.$el.querySelectorAll('[data-is-visible="true"]').length
    })
  },
  computed: {
    filteredAllProviders() {

      for (const key in this.allProviders) {            
        const foundProviders = this.allProviders[key]['data'].map(provider => {

          const includesSearch = provider.profileId.toLowerCase().includes(this.search.trim().toLowerCase())

          provider.isVisible = this.search !== '' && !includesSearch ?
            false : true

          return provider
        }).find(provider => provider !== undefined && provider.isVisible === true)

        this.allProviders[key]['visible'] = foundProviders !== undefined ? true : false
      }
      return this.allProviders
    },
  }
}
</script>