<template>
  <p>
    Use the following search parameters to find a {{ this.type | capitalize }} Care provider. The more parameters you select, the narrower your results.
  </p>
</template>

<script>
export default {
  props: {
    type: String
  },
  filters: {
    capitalize: function(val) {
      if (!val) return

      val = val.toString()
      return val.charAt(0).toUpperCase() + val.slice(1)
    }
  }
}
</script>