<template>
  <div class="select-container">
    <div v-if="isLoading">
      <v-select :options="['Loading...']" />
    </div>
    <div v-else-if="hasError">
      <v-select :options="['Error loading locations']" />
    </div>
    <div v-else-if="clinics.length > 0">
      <v-select 
        :options="clinics" 
        placeholder="Choose a location"
        @input="change" 
      />
    </div>
  </div>
</template>

<script>

import vSelect from 'vue-select'

import { removeDuplicates } from '../../utils/removeDuplicates'
import { managePayload } from '../../utils/manageVueSelect'

export default {
  props: {
    id: String
  },
  components: {
    'v-select': vSelect
  },
  data() {
    return {
      hasError: false,
      isLoading: true,
      clinics: []
    }
  },
  methods: {
    change(payload) {
      const location = managePayload(payload)
      this.$emit('input', location)
    }
  },
  apollo: {
    clinics: {
      query: require('../../graphql/queries/clientLocations.gql'),
      variables() {
        const category = this.$props.category !== undefined ?
          this.$props.category.toUpperCase() :
          'ALL'

        return {
          category
        }
      },
      result({ data, loading, networkStatus }) {
        if (!loading) this.isLoading = false
        if (data) {
          this.clinics = removeDuplicates(data.clinics.nodes, 'city')
        }
      },
      error(error) {
        this.hasError = true
      }
    }
  }
}
</script>