<template>
  <div>
    <helper-text type="primary" />
    <form @submit.prevent="submit">
      <div>
        <label for="primary-doctor-lastname">Last Name</label>
        <input v-model="lastName" type="text" name="primary-doctor-lastname" id="primary-doctor-lastname" placeholder="Smith">
      </div>
      <div>
        <label for="primary-doctor-location">Location of Provider</label>
        <location-select id="primary-doctor-location" v-model="location" />
      </div>
      <div>
        <input type="submit" value="Search">
      </div>
    </form>
  </div>
</template>

<script>
import HelperText from './HelperText'
import LocationSelect from './LocationSelect'

import { submitSearchForm } from '../../utils/formSubmission'

export default {
  data() {
    return {
      lastName: '',
      location: '',
      // to mimic the current version, these specialties must be used.
      specialties: [ 'Family Medicine', 'Primary Care' ]
    }
  },
  components: {
    'helper-text': HelperText,
    'location-select': LocationSelect,
  },
  methods: {
    submit() {
      submitSearchForm('results', {
        category: 'DOCTOR',
        lastName: this.lastName,
        location: this.location,
        useParameters: true,
        specialties: this.specialties
      })
    }
  }
}
</script>