<template>
  <ApolloMutation
    :mutation="require('../../graphql/mutations/secureEmail.gql')"
    :variables="{
      appointmentType: formData.type,
      city: formData.city,
      email: formData.email,
      firstName: formData.firstName,
      language: formData.language,
      lastName: formData.lastName,
      phone: formData.phone,
      physician: formData.physician,
      specialty: formData.specialty,
      state: formData.state,
      streetAddress: formData.streetAddress,
      timeToCallback: formData.time,
      zipCode: formData.zipCode,
      token: formData.token,
      field1: formData.field1,
      field2: formData.field2,
      field3: formData.field3,
    }"
    @done="onDone"
  >
    <template v-slot="{ mutate, loading, error }">
      <div v-if="formResponse.response.hasOwnProperty('error')" class="alert alert-danger">
        <p>We tried to process your request, but encountered an error. Please call 1-84-GET-UCONN.</p>
        <p>{{ error }}</p>
      </div>
      <div v-else-if="error" class="alert alert-danger">
        <p>Something broke...</p>
        <p>{{ error }}</p>
      </div>
      <div class="alert alert-success" v-else-if="formResponse.response.status === 'success'">
        <p>Thank you for scheduling your {{ formResponse.appointmentType }} appointment regarding {{ formResponse.specialty }}. Please expect a call back at {{ formResponse.phone }} from {{ formResponse.timeToCallback }}.</p>
      </div>
      <form v-else @submit.prevent="" method="POST" :style="loading? 'opacity: 0.5' : ''">
        <div>
          <label 
            :class="setLabelSuccessClass(formData.firstName)" 
            for="request-appt-first-name" 
            aria-required="true" 
            required
          >
            First Name <span class="uhfp-required-icon" aria-hidden="true">*</span>
          </label>
          <input 
            id="request-appt-first-name" 
            class="request-appt-input" 
            type="text" 
            placeholder="First Name"
            v-model="formData.firstName"
          >
        </div>
        <div>
          <label 
            :class="setLabelSuccessClass(formData.lastName)" 
            for="request-appt-last-name" 
            aria-required="true" 
            required
          >
            Last Name <span class="uhfp-required-icon" aria-hidden="true">*</span>
          </label>
          <input 
            id="request-appt-last-name" 
            class="request-appt-input" 
            type="text" 
            placeholder="Last Name"
            v-model="formData.lastName"
          >
        </div>
        <div>
          <label 
            :class="setLabelSuccessClass(formData.phone)" 
            for="request-appt-phone" 
            aria-required="true" 
            required
          >
            Daytime Phone Number <span class="uhfp-required-icon" aria-hidden="true">*</span>
          </label>
          <vue-tel-input 
            v-model="formData.phone" 
            inputId="request-appt-phone"
            inputClasses="request-appt-input"
            placeholder="XXX-XXX-XXXX"
            required 
          />
        </div>
        <div>
          <div>
            <label for="request-appt-addr">
              Address
            </label>
            <input 
              id="request-appt-addr" 
              type="text"
              placeholder="123 Main St"
              v-model="formData.streetAddress"
            />
          </div>
            <div>
              <label for="request-appt-city">
                City
              </label>
              <input 
                id="request-appt-city" 
                type="text"
                placeholder="Farmington"
                v-model="formData.city"
              >
            </div>
            <div>
              <label for="request-appt-state">
                State
              </label>
              <div class="select-container">
                <v-select
                  v-model="formData.state"
                  id="request-appt-state"
                  :options="states"
                  label="name"
                  @input="changeState"
                />
              </div>
            </div>
            <div>
              <label for="request-zip-code">
                Zip Code
              </label>
              <input 
                type="text"
                v-model="formData.zipCode"
                placeholder="06117" 
                name="request-zip-code" 
                id="request-zip-code" 
                pattern="[0-9]*"
              >
            </div>
          </div>
          <div>
            <label for="request-appt-time" :class="setLabelSuccessClass(formData.time)">Best Time to Contact <span class="uhfp-required-icon" aria-hidden="true">*</span></label>
            <div class="select-container">
              <v-select 
                v-model="formData.time"
                id="request-appt-time"
                :options="[
                  '8 a.m. to 10 a.m. EST',
                  '10 a.m. to 12 p.m. EST',
                  '12 p.m. to 2 p.m. EST',
                  '2 p.m. to 4:30 p.m. EST'
                ]"
                @input="changeTime"
              />
            </div>
          </div>
          <div>
            <label for="request-appt-type" :class="setLabelSuccessClass(formData.type)">Type of Appointment <span class="uhfp-required-icon" aria-hidden="true">*</span></label>
            <div class="select-container">
              <v-select
                v-model="formData.type"
                id="request-appt-type"
                :options="[
                  'New Patient',
                  'Current Patient',
                  'Second Opinion'
                ]"
                @input="changeType"
              />
            </div>
          </div>
          <div>
            <label for="request-appt-spec" :class="setLabelSuccessClass(formData.specialty)">Discipline or Specialty <span class="uhfp-required-icon" aria-hidden="true">*</span></label>
            <div class="select-container">
              <v-select 
                v-model="formData.specialty"
                id="request-appt-spec"
                placeholder="Select a Specialty"
                :options="specialties"
                label="name"
                @input="changeSpecialty"
              />
            </div>
          </div>
          <div>
            <label for="request-appt-language" :class="setLabelSuccessClass(formData.language)">Preferred Language</label>
            <div class="select-container">
              <v-select 
                v-model="formData.language"
                id="request-appt-language"
                :options="languages"
                label="language"
                @input="changeLanguage"
              />
            </div>
          </div>
        <div>
          <label class="request-appt-label" for="request-appt-email" :class="setLabelSuccessClass(formData.email)">
            Email
          </label>
          <input
            v-model="formData.email" 
            id="request-appt-email" 
            class="request-appt-input" 
            type="email" 
            placeholder="me@example.com"
          >
        </div>
        <div
          :key="n"
          v-for="n in 3"
          class="hidden"
        >
          <label :for="`field-${n}`">Field {{ n }}</label>
          <input type="text" :name="`field-${n}`" :id="`field-${n}`" v-model="formData[`Field${n}`]">
        </div>
        <secure-token />
        <div>
          <input 
            type="submit" 
            value="Make a Request" 
            :disabled="loading || setDisabledStatus()"
            @click="mutate()"
          >
          <p v-if="error">{{ error }}</p>
        </div>
      </form>
    </template>
  </ApolloMutation>
</template>

<script>
import vSelect from 'vue-select'

import { managePayload } from '../../utils/manageVueSelect'

import eventBus from '../../eventBus'
import vueTelInput from '../../vendor/vueTelInput'

import SecureToken from './SecureToken.vue'


export default {
  props: {
    provider: String,
    specialties: Array
  },
  components: {
    'secure-token': SecureToken,
    'v-select': vSelect
  },
  created() {
    eventBus.$on('secure-token-success', payload => this.formData.token = payload)
    eventBus.$on('secure-token-error', this.formData.token = false)
  },
  beforeDestroy() {
    eventBus.$off('secure-token-success')
    eventBus.$off('secure-token-error')
  },
  data() {
    return {
      languages: [],
      states: [],
      formData: {
        physician: this.$props.provider,
        email: '',
        language: 'English',
        firstName: '',
        lastName: '',
        streetAddress: '',
        city: '',
        state: 'Connecticut',
        phone: '',
        specialty: '',
        time: '8 a.m. to 10 a.m. EST',
        token: '',
        type: 'New Patient',
        zipCode: '',
        field1: '',
        field2: '',
        field3: ''
      },
      formResponse: {
        response: {},
      },
    }
  },
  mounted() {
    this.languages = require('../../data/languages.json')
    this.states = require('../../data/states.json')
  },
  methods: {
    changeLanguage(payload) {
      this.formData.language = managePayload(payload, 'language')
    },
    changeSpecialty(payload) {
      this.formData.specialty = managePayload(payload, 'name')
    },
    changeState(payload) {
      this.formData.state = managePayload(payload, 'name')
    },
    changeTime(payload) {
      this.formData.time = managePayload(payload)
    },
    changeType(payload) {
      this.formData.type = managePayload(payload)
    },
    onDone({ data }) {
      Object.assign(this.formResponse, data.makeSecureEmailRequest)
      this.$nextTick(() => {
        this.$el.scrollIntoView({ block: 'end', scrollBehavior: 'smooth' })
      })
    },
    setDisabledStatus() {
      return (
        this.formData.token === '' ||
        this.formData.phone === '' ||
        this.formData.time === '' ||
        this.formData.type === '' ||
        this.formData.firstName === '' ||
        this.formData.lastName === '' ||
        this.formData.specialty === '' ||
        !this.validateZipCode()
      ) ? true : false
    },
    setLabelSuccessClass(val) {
      return val !== '' && val !== 'Select Specialty' 
        ? 'uhfp-request-appt-label has-success' 
        : 'uhfp-request-appt-label'
    },
    /**
     * 
     * Only validates US zip codes.
     * Returns true on a match of 5 digit or 5 +4 digit code with a dash
     * Also returns true on an empty string
     * 
     * @returns {bool}
     */
    validateZipCode() {
      const pattern = /^\d{5}(-\d{4})?(?!-)$/
      const regex = RegExp(pattern)
      return regex.test(this.formData.zipCode.trim()) || this.formData.zipCode === ''
    }
  },
}
</script>