<template>
<div>
  <div class="hidden">
    <input type="hidden" name="token" id="token" :value="token">
  </div>
</div>
</template>

<script>

import eventBus from '../../eventBus'

export default {
  data() {
    return {
      loadingToken: true,
      token: '',
      tokenURLData: {}
    }
  },
  mounted() {
    this.tokenURLData = this.getPluginTokenResponseURL()
  },
  methods: {
    getPluginTokenResponseURL() {
      const pluginDir = window.location.host !== 'localhost' ? 'wp-content' : 'content'
      
      let url = `${window.location.origin}/`
      url += `${pluginDir}/plugins/uh-find-provider-2/partials/email`
      return {
        redirectURL: `${url}/success.php`,
        errorURL: `${url}/error.php`
      }
    }
  },
  apollo: {
    /**
     * 
     * fetch a secure token for the uchc secure email app
     * it requires to and from addresses
     * also redirect urls for success and failure responses from the application
     * 
     */
    uhSecureToken: {
      query: require('../../graphql/queries/uhSecureEmailToken.gql'),
      fetchPolicy: 'network-only',
      variables() {
        return {
          mailFrom: 'webmaster@uconn.edu',
          mailTo: 'info@uchc.edu',
          redirectURL: this.tokenURLData.redirectURL,
          errorURL: this.tokenURLData.errorURL
        }
      },
      result({ data, loading }) {
        if (!loading) {
          this.loadingToken = false
        }
        if (data) {
          this.token = data.uhSecureToken.token
          eventBus.$emit('secure-token-success', this.token)
        }
      },
      error(err) {
        eventBus.$emit('secure-token-error')
        console.error(err, 'secure token error')
      }
    }
  }
}
</script>