<template>
  <div class="select-container">
    <div v-if="isLoading">
      <v-select :options="['Loading Specialties...']" />
    </div>
    <p v-else-if="hasError">
      There was an error getting the specialties
    </p>
    <div v-else-if="specialties.length > 0">
      <v-select
        placeholder="Search for a specialty" 
        :options="whiteListSpecialties(specialties)" 
        label="name"
        @input="input"
      >
      </v-select>
    </div>
  </div>
</template>

<script>
import vSelect from 'vue-select'
import { managePayload } from '../../utils/manageVueSelect'

export default {
  props: {
    category: String,
    id: String
  },
  components: {
    'v-select': vSelect
  },
  data() {
    return {
      hasError: false,
      isLoading: true,
      specialties: [],
    }
  },
  methods: {
    input(payload) {
      const name = managePayload(payload, 'name')
      this.$emit('input', [ name ])
    },
    whiteListSpecialties(data) {
      return data.filter(function(option) {
        return this.indexOf(option) < 0
      }, adminOptions.blacklistSettings)
    }
  },
  apollo: {
    specialties: {
      query: require('../../graphql/queries/clientSpecialties.gql'),
      variables() {
        return {
          category: this.$props.category,
          isVisible: true
        }
      },
      result({ data, loading, networkStatus }) {
        if (!loading) this.isLoading = false

        if (data) {
          this.specialties = data.specialties.nodes.sort((a, b) => {
            if (a.name.toLowerCase() > b.name.toLowerCase()) {
              return 1
            } else if (a.name.toLowerCase() < b.name.toLowerCase()) {
              return -1
            } else {
              return 0
            }
          })
        }
      },
      error(error) {
        this.hasError = true
      }
    }
  }
}
</script>