<template>
  <div>
    <helper-text type="specialty" />
    <form @submit.prevent="submit">
      <div>
        <p class="required-notice"><small><em><span class="uhfp-required-icon">*</span> = Required Field</em></small></p>
      </div>
      <div>
        <label for="specialty-doctor-lastname">Last Name</label>
        <input v-model="lastName" type="text" name="specialty-doctor-lastname" id="specialty-doctor-lastname" placeholder="Smith">
      </div>
      <div>
        <label for="doctor-specialty-select">Specialty <span class="uhfp-required-icon" aria-hidden="true">*</span></label>
        <specialty-select id="doctor-specialty-select" category="DOCTOR" v-model="specialties" />
      </div>
      <div>
        <label for="specialty-doctor-location">Location of Provider</label>
        <location-select id="specialty-doctor-location" v-model="location" />
      </div>
      <div>
        <input type="submit" value="Search" :disabled="checkSpecialties()">
      </div>
    </form>
  </div>
</template>

<script>
import HelperText from './HelperText'
import LocationSelect from './LocationSelect'
import SpecialtySelect from './SpecialtySelect'

import { submitSearchForm } from '../../utils/formSubmission'

export default {
  data() {
    return {
      category: 'DOCTOR',
      lastName: '',
      location: '',
      specialties: []
    }
  },
  components: {
    'helper-text': HelperText,
    'location-select': LocationSelect,
    'specialty-select': SpecialtySelect,
  },
  methods: {
    submit() {
      // push the params onto the named route
      submitSearchForm('results', {
        category: this.category,
        lastName: this.lastName,
        location: this.location,
        useParameters: true,
        specialties: this.specialties
      })
    },
    checkSpecialties() {
      // if all the specialties in the list have a length, this should be undefined
      const specialtiesHaveLength = this.specialties.find(spec => spec.trim().length === 0)
      return this.specialties.length > 0 && specialtiesHaveLength === undefined ?
        false : true
    }
  }
}
</script>