<template>
  <div>
    <slot></slot>
    <div class="loading-back-container">
      <b class="loading-action"></b>
      <b class="loading-num-results"></b>
      <b class="loading-query"></b>
    </div>
    <div class="pr-loading-list">
      <div class="pr-loading-item" :key="n" v-for="n in 6">
        <div class="loading-image-container">
          <b class="loading-image-placeholder"></b>
        </div>
        <div class="loading-content-container">
          <b class="loading-name"></b>
          <b class="loading-label"></b>
          <b class="loading-location"></b>
          <b class="loading-action"></b>
        </div>
        <div class="loading-specialties-container">
          <b class="loading-specialties-header"></b>
          <b class="loading-specialties-item"></b>
          <b class="loading-specialties-item"></b>
          <b class="loading-specialties-item"></b>
          <b class="loading-specialties-item"></b>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  
}
</script>