<template>
  <div>
    <slot></slot>
    <div class="uhfp-loading-directory-list">
      <b
        :key="n"
        v-for="n in 100"
        class="uhfp-loading-directory-item"
      ></b>
    </div>
  </div>
</template>

<script>
export default {
  
}
</script>