<template>
  <div class="ps-loading">
    <div class="general-content">
      <div class="loading-image-container">
        <b class="loading-image-placeholder"></b>
      </div>
      <div class="loading-content-container">
        <b class="loading-name"></b>
        <b class="loading-specialties"></b>
        <b class="loading-label"></b>
        <b class="loading-request-appt"></b>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  
}
</script>