<template>
  <p
    :class="
      [
        'accepting-patients',
        this.$props.isAcceptingPatients ?
        'green' : 'grey'
      ]
    "
  >
    <span v-if="!this.$props.isAcceptingPatients">Not </span>Accepting new patients
  </p>
</template>

<script>
export default {
  props: {
    isAcceptingPatients: Boolean
  }
}
</script>