<template>
  <div>
    <p 
      v-for="(city, index) in cities" 
      :key="index"
    >
      {{ city }}
    </p>
  </div>
</template>

<script>

import { removeDuplicates } from '../../utils/removeDuplicates'

export default {
  props: {
    clinics: Array,
    location: String
  },
  data() {
    return {
      cities: [],
      cityToMatch: ''
    }
  },
  mounted() {
    this.cityToMatch = this.$props.location
    this.cities = this.reduceCities()
  },
  methods: {
    /**
     * 
     * Sometimes providers work at more than one clinic in the same city.
     * This first removes unneeded duplicates
     * Then if there is a location query param or route param only displays clinics for that param
     * 
     * @returns {array} cities - an array of locations where there are no duplicates
     * 
     */
    reduceCities() {
      return removeDuplicates(this.$props.clinics, 'city').filter(city => {
        if (this.location === undefined || this.location === city) {
          return city
        }
      })
    }
  }
}
</script>