<template>
  <div aria-live="true" role="region" class="pr-params">
    <p><strong>{{ length }}</strong> provider<span v-if="length > 1">s</span> found <span v-if="location !== ''">in <strong>{{ location }}</strong></span><span v-if="lastName !== ''"> with the last name <strong>{{ lastName }}</strong></span><span v-if=" specialties.length && Array.isArray(specialties)"> whose specialties include: <strong
    :key="index"
    v-for="(spec, index) in specialties"
    >{{ spec }}<span v-if="index < specialties.length - 1">, and </span></strong></span><span v-if="specialties.length && !Array.isArray(specialties)"> whose specialty is    <strong>{{ specialties }}</strong></span></p>
  </div>
</template>

<script>
export default {
  props: {
    length: Number,
    location: String,
    lastName: String,
    // accepting either an array or string for this prop
    specialties: [Array, String]
  },
}
</script>