#find-provider {
  #uhfp-request-appt-wrapper {
    margin: 32px auto;
    max-width: 600px;
  }
  #uhfp-request-appt-wrapper,
  div[id^="uhfp-panel"] {
    form {
      div + div {
        margin-top: 24px;
      }
    }
    label {
      margin-bottom: 8px;
    }
    input,
    select {
      color: inherit;
      font-weight: normal;
      width: 100%;
    }
    input::placeholder {
      color: $uconn-blue;
      opacity: 0.6;
    }
    .vti__dropdown {
      background-color: #fcfcfc;
    }
    input[type="email"],
    input[type="tel"],
    input[type="text"] {
      border: 1px solid $medium-grey;
      font-size: 16px;
      height: 44px;
    }
    input[type="tel"] {
      border: 1px solid transparent;
      border-radius: 0;
      height: auto;
    }
    input[type="submit"] {
      background-color: $uconn-blue;
      border: 1px solid transparent;
      color: $white;
      font-weight: bold;
      letter-spacing: 0.5px;
      width: inherit;
      &:hover,
      &:focus {
        background-color: $health-teal;
        color: $off-white;
      }
      &[disabled="disabled"] {
        background-color: $medium-grey;
        color: $uconn-blue;
        cursor: auto;
      }
    }
    .required-notice {
      color: $uconn-blue;
    }
    .select-container {
      position: relative;
    }
  }

  .uhfp-directory-container {
    margin-top: 16px;
    .uhfp-directory-list {
      list-style-type: none;
      padding: 0;
      > li {
        font-weight: bold;
        & + li {
          margin-top: 32px;
        }
      }
      .provider-name-group {
        list-style-type: none;
        li {
          line-height: 2;
        }
      }
    }
  }

  // style overrides for the vue-select box
  .vs__dropdown-toggle {
    background-color: $off-white;
  }
  
  .vs__search {
    background-color: $off-white;
    border: 0;
    width: unset !important;
    &::placeholder {
      font-size: 16px;
    }
  }

  .vs__actions {
    cursor: pointer;
    margin-top: 0 !important;
    padding-right: 12px;
  }

  .vs__open-indicator {
    fill: rgba($color: $uconn-blue, $alpha: 0.5);
  }

  .vs__dropdown-menu {
    background-color: $off-white;
  }

  .vs__clear {
    background-color: transparent;
    fill: $alert-red;
    padding: 0 12px;
    margin-top: 4px;
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}