$light-grey: #f7f7f7;
$medium-grey: #cccccc;
$dark-grey: #777;
$off-white: #fcfcfc;
$white: #fff;
$uconn-blue: #000e2f;
$health-teal: #007584;
$success_green: #3c763d;
$alert_red: #b30300;

$tablet: 768px;