<template>
  <div 
    role="tablist" 
    aria-label="Find a Provider Search Forms"
  >
    <tab-button
      :key="index"
      v-for="(button, index) in this.buttonData"
      :ariaControls="`uhfp-panel-${index}`"
      :tabId="`uhfp-tab-${index}`"
      :option="button.option"
      v-html="button.text"
    ></tab-button>
  </div>
</template>

<script>
import eventBus from '../../eventBus'
import TabButton from './TabButton'

import { setInitialElement, setActiveElements } from '../../utils/tabs'

export default {
  components: {
    'tab-button': TabButton
  },
  props: {
    // option needs to set the currently selected tab if it's part of the query
    option: String,
  },
  data() {
    return {
      initialButton: null,
      buttons: [],
      buttonData: [
        {
          option: 'primary',
          text: 'Search <br />Primary Care',
        },
        {
          option: 'specialty',
          text: 'Search <br />Specialty Care',
        },
        {
          option: 'dental',
          text: 'Search <br />Dental Care',
        },
        {
          option: 'directory',
          text: 'Browse <br />Directory',
        }                
      ],
    }
  },
  created() {
    eventBus.$on('tab-button-clicked', payload => this.tabButtonClicked(payload))
    eventBus.$on('select-previous-button', payload => this.selectPreviousButton(payload))
    eventBus.$on('select-next-button', payload => this.selectNextButton(payload))
    eventBus.$on('select-first-button', () => this.selectFirstButton())
    eventBus.$on('select-last-button', () => this.selectLastButton())
  },
  beforeDestroy() {
    eventBus.$off('tab-button-clicked')
    eventBus.$off('select-previous-button')
    eventBus.$off('select-next-button')
    eventBus.$off('select-first-button')
    eventBus.$off('select-last-button')
  },
  mounted() {
    this.buttons = this.$children
    this.setInitialButton()
  },
  methods: {
    setInitialButton() {
      this.initialButton = setInitialElement(this.buttons, this.$props.option)
      this.buttons = setActiveElements(this.buttons, this.initialButton)
    },
    tabButtonClicked(payload) {
      this.buttons = setActiveElements(this.buttons, payload)
    },
    selectFirstButton() {
      const firstButton = this.buttons[0]
      this.buttons.map(btn => {
        if (btn === firstButton) {
          btn.$el.focus()
          btn.isActive = true
          btn.isSelected = true
        } else {
          btn.$el.blur()
          btn.isActive = false
          btn.isSelected = false
        }
        return btn
      })
    },
    selectLastButton() {
      const lastButton = this.buttons[this.buttons.length - 1]
      this.buttons.map(btn => {
        if (btn === lastButton) {
          btn.$el.focus()
          btn.isActive = true
          btn.isSelected = true
        } else {
          btn.$el.blur()
          btn.isActive = false
          btn.isSelected = false
        }
        return btn
      })
    },
    selectNextButton(payload) {
      const currentIndex = this.buttons.indexOf(payload)
      const nextButton = this.buttons[currentIndex + 1] === undefined ? 
        this.buttons[0] : 
        this.buttons[currentIndex + 1]

      this.buttons.map(btn => {
        if (btn === nextButton) {
          btn.$el.focus()
          btn.isSelected = true
        } else {
          btn.$el.blur()
          btn.isSelected = false
        }
        return btn
      })    
    },
    selectPreviousButton(payload) {
      const currentIndex = this.buttons.indexOf(payload)
      const previousButton = this.buttons[currentIndex - 1] === undefined ? 
        this.buttons[this.buttons.length -1] : 
        this.buttons[currentIndex - 1]

      this.buttons.map(btn => {
        if (btn === previousButton) {
          btn.$el.focus()
          btn.isSelected = true
        } else {
          btn.$el.blur()
          btn.isSelected = false
        }
        return btn
      })  
    }
  },
}
</script>