<template>
  <button
    role="tab"
    :id="tabId"
    :aria-controls="ariaControls"
    :aria-expanded="isActive ? 'true' : 'false'"
    :aria-selected="isSelected ? 'true' : 'false'"
    :tab-index="isSelected ? '0' : '-1'"
    @click="clickHandler"
    @keydown.space="clickHandler"
    @keydown.right="goRight"
    @keydown.left="goLeft"
    @keydown="selectFirstOrLast"
    :class="[
      'provider-search-button',
      isActive ? 'active' : '',
      isSelected ? 'selected' : ''
    ]"
  >
    <slot></slot>
  </button>
</template>

<script>

import eventBus from '../../eventBus'

export default {
  model: {
    prop: 'tabId',
    event: 'tab-button-clicked'
  },
  props: {
    ariaControls: String,
    option: String,
    tabId: String,
  },
  data() {
    return {
      isActive: false,
      isSelected: false
    }
  },
  methods: {
    clickHandler() {
      eventBus.$emit('tab-button-clicked', this)
    },
    goLeft() {
      eventBus.$emit('select-previous-button', this)
    },
    goRight() {
      eventBus.$emit('select-next-button', this)
    },
    selectFirstOrLast(evt) {
      // allow only the home or end keys
      if (evt.which === 36) {
        evt.preventDefault()
        eventBus.$emit('select-first-button')
      } else if (evt.which === 35) {
        evt.preventDefault()
        eventBus.$emit('select-last-button')
      } else {
        return
      }
    }
  },
}
</script>

