<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>

import eventBus from '../../eventBus'
import { setInitialElement, setActiveElements } from '../../utils/tabs'

export default {
  props: {
    option: String
  },
  data() {
    return {
      panels: [],
      initialPanel: null
    }
  },
  created() {
    eventBus.$on('tab-button-clicked', payload => this.activateTabPanel(payload))
  },
  beforeDestroy() {
    eventBus.$off('tab-button-clicked')
  },
  mounted() {
    this.panels = this.$children
    this.setInitialPanel()
  },
  methods: {
    setInitialPanel() {
      this.initialPanel = setInitialElement(this.panels, this.$props.option)
      this.panels = setActiveElements(this.panels, this.initialPanel)
    },
    activateTabPanel(payload) {
      const activeTabPanel = this.getActivePanel(payload)
      this.focusFirstElement(activeTabPanel)   
    },
    focusFirstElement: function(panel) {
      const focusable = panel.$el.querySelectorAll('button, [href], input, select, textarea, [tabindex]:not([tabindex="-1"])')
      const first = focusable[0]
      if (first !== undefined) {
        // you have to wait until after the component renders to focus on the element.
        this.$nextTick(() => {
          first.focus()
        })
      }
    },
    getActivePanel: function(payload) {
      return this.panels.map(tab => {
        if (tab.$props.panelId === payload.$props.ariaControls) {
          tab.isActive = true
        } else {
          tab.isActive = false
        }
        return tab
      }).find(tab => tab = tab.isActive)
    }
  }
}
</script>