<template>
  <div
    :id="panelId"
    :aria-labelledby="labelledBy"
    :aria-hidden="isActive ? 'false' : 'true'"
    role="tabpanel" 
    v-show="isActive"
  >
    <slot></slot>
  </div>
</template>

<script>

export default {
  props: {
    labelledBy: String,
    panelId: String,
    option: String,
  },
  data() {
    return {
      isActive: this.isActive
    }
  },
}
</script>