.pr-loading-list {
  animation: pulse 2.5s alternate infinite;
}

.ps-loading {
  animation: pulse 2.5s alternate infinite;
  .general-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .loading-image-container {
    margin-right: 20px;
    width: unset;
    b {
      width: 160px;
    }
  }
  .loading-content-container {
    flex: 3 1 auto;
  }
  .loading-name {
    height: 40px;
    width: 52%;
  }
  .loading-specialties {
    background-color: $uconn-blue;
    display: block;
    height: 1ch;
    width: 30ch;
  }
  .loading-request-appt {
    background-color: $uconn-blue;
    border-radius: 4px;
    display: block;
    height: 40px;
    width: 204px;
  }
  .accordion-placeholder {
    background-color: $off-white;
    height: 600px;
  }
}

.uhfp-loading-directory-list {
  animation: pulse 2.5s alternate infinite;
  b {
    background-color: $medium-grey;
    border-bottom: 2px solid $health-teal;
    display: block;
    height: 25px;
    & + b {
      margin-top: 16px;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.7;
  }
}

.pr-loading-item {
  display: flex;
  flex-wrap: wrap;
  padding: 6vw;
  @media screen and (min-width: $tablet) {
    padding: 48px;
  }
}

.loading-image-container {
  margin: 0 22px 24px auto;
  width: 170px;
  @media screen and (min-width: $tablet) {
    flex: 0 1 200px;
  }
}

.loading-image-placeholder {
  background-color: $medium-grey;
  border-radius: 16px;
  display: block;
  height: 218px;
  width: 170px;
}

.loading-content-container {
  flex: 3;
  margin-bottom: 24px;
  padding-right: 32px;
  b + b {
    margin-top: 16px;
  }
  b:last-child {
    margin-top: 26px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.loading-specialties-container {
  flex: 2 0 auto;
  .loading-specialties-header {
    background-color: $uconn-blue;
    display: inline-block;
    height: 2ch;
    margin-bottom: 16px;
    width: 11ch;
  }
  .loading-specialties-item {
    background-color: $uconn-blue;
    display: block;
    height: 1ch;
    margin-bottom: 8px;
    width: 9ch;
  }
}

.loading-num-results,
.loading-query,
.loading-name {
  background-color: $uconn-blue;
  display: block;
  height: 2.1ch;
  width: 22ch;
}

.loading-num-results,
.loading-query {
  margin-bottom: 30px;
}

.loading-label {
  background-color: $health-teal;
  border-radius: 4px;
  display: block;
  height: 1.5ch;
  width: 20ch;
}

.loading-location {
  background-color: $uconn-blue;
  display: inline-block;
  height: 1ch;
  margin-top: 16px;
  width: 11ch;
}

.loading-action {
  border-radius: 4px;
  background-color: $uconn-blue;
  display: block;
  height: 40px;
  margin-top: 16px;
  width: 180px;
}

.loading-back-container {
  animation: pulse 2.5s alternate infinite;
  .loading-action {
    margin: 30px 0;
  }
}