.uhfp-results-wrapper {
  background-color: #ffffff;
  padding: 16px;
}

.pr-params {
  p {
    margin-bottom: 20px;
  }
}

.pr-list {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  li {
    display: flex;
    flex-wrap: wrap;
    &.pr-item {
      padding: 6vw;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      @media screen and (min-width: $tablet) {
        padding: 48px;
      }
    }
    &.pr-item:nth-child(2n) {
      background-color: rgba($medium-grey, 0.3);
    }
    ul {
      padding: 0;
    }
  }
  .pr-detail-name {
    font-size: 18px;
  }
  .pr-image-container {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    margin-bottom: 16px;
    .image-link {
      background-color: transparent;
      box-shadow: none;
      display: block;
      text-decoration: none;
      img {
        @extend %headshot;
      }
      &:hover,
      &:focus {
        background-color: transparent;
        img {
          border-color: #337ab7;
        }
      }
    }
  }
  
  .pr-detail-container {
    color: $uconn-blue;
    flex: 3;
    margin-bottom: 24px;
    max-width: 100%;
    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
      margin: 0 42px;
    }
    p {
      color: inherit;
      line-height: 1.5;
      margin-bottom: 8px;
    }
  }

  .pr-locations-container {
    p {
      margin-bottom: 0;
    }
  }

  .pr-info-container {
    flex: 2;
    flex: 2 0 auto;
    ul {
      list-style-type: disc;
    }
    li {
      display: list-item;
    }
  }
}

