#find-provider {
  .single-provider-accordion-panel {
    margin-bottom: 20px;
    > .sp-accordion-button {
      align-items: center;
      background-color: $white;
      border: 1px solid $health-teal;
      border-radius: 0;
      color: inherit;
      display: flex;
      font-size: 22px;
      font-weight: 600;
      justify-content: space-between;
      padding: 12px;
      transition: background-color 0.3s ease-in-out;
      width: 100%;
      + div {
        background-color: $off-white;
        display: none;
        padding: 20px;
      }
      &[aria-expanded="true"] {
        + div {
          display: block;
        }
      }
      &:hover,
      &:focus,
      &[aria-selected="true"] {
        background-color: rgba(0,165,165,0.3);
      }
      span {
        color: $uconn-blue;
      }
    }
    p {
      line-height: 1;
      margin-bottom: 10px;
    }
    ul {
      padding: 0 10px;
    }
    table {
      width: 100%;
    }
    tbody {
      tr:nth-of-type(2n+1) {
        background-color: #f9f9f9;
      }
      tr {
        border-top: 1px solid #ddd;
        display: flex;
        padding: 16px 8px;
        &:last-child {
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }
  .office-wrapper {
    display: flex;
    flex-wrap: wrap;
    > div {
      flex: 1 1 auto;
      padding: 8px;
    } 
  }
  #education-and-training-panel {
    td:first-child {
      flex: 1 1 0;
      font-weight: bold;
    }
    td:last-child {
      flex: 3 1 0;
    }
  }
  #honors-awards-panel {
    thead {
      display: block;
      margin-bottom: 16px;
      tr {
        display: flex;
        margin-left: 8px;
      }
    }
    th {
      flex: 1 1 0;
      &:last-child {
        margin-left: -8px;
      }
    }
  }
  tbody {
    td {
      flex: 1 1 0;
      padding-right: 16px; 
    }
  }
}