.ps-general-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  img {
    @extend %headshot;
  }
}

.ps-image-container {
  margin-right: 26px;
}

.ps-detail-container {
  .appt-toggle-container {
    margin-top: 16px;
  }
}