%health-label {
  background-color: $dark-grey;
  border-radius: 4px;
  color: $white;
  display: inline-block;
  font-size: 75%;
  line-height: 1;
  margin-bottom: 16px;
  padding: 5px 6px 3px;
  text-transform: uppercase;
}

%health-label-accepting {
  background-color: $health-teal;
}

.pr-list .pr-detail-container,
.ps-detail-container {
  .accepting-patients {
    @extend %health-label;
    &.green {
      @extend %health-label-accepting;
    }
  }
}

.uhfp-required-icon {
  color: $alert-red;
}

.uhfp-request-appt-label.has-success {
  color: $success_green;
}