<template>
  <div>
    <tab-buttons :option="option" />
    <tab-panels :option="option">
      <tab-panel
        panelId="uhfp-panel-0" 
        labelledBy="uhfp-tab-0"
        option="primary"
      >
        <primary-care />
      </tab-panel>
      <tab-panel
        panelId="uhfp-panel-1" 
        labelledBy="uhfp-tab-1"
        option="specialty"
      >
        <specialty-care />
      </tab-panel>
      <tab-panel
        panelId="uhfp-panel-2" 
        labelledBy="uhfp-tab-2"
        option="dental"
      >
        <dental />
      </tab-panel>
      <tab-panel
        panelId="uhfp-panel-3" 
        labelledBy="uhfp-tab-3" 
        option="directory"
      >
        <directory />
      </tab-panel>
    </tab-panels>
  </div>
</template>

<script>

import TabPanels from './Tabs/TabPanels'
import TabPanel from './Tabs/TabPanel'
import TabButtons from './Tabs/TabButtons'
import Dental from './Forms/Dental'
import Directory from './Forms/Directory'
import PrimaryCare from './Forms/PrimaryCare'
import SpecialtyCare from './Forms/SpecialtyCare'

export default {
  props: {
    option: String
  },
  components: {
    'tab-panels': TabPanels,
    'tab-panel': TabPanel,
    'tab-buttons': TabButtons,
    'dental': Dental,
    'directory': Directory,
    'primary-care': PrimaryCare,
    'specialty-care': SpecialtyCare
  },
}
</script>