<template>
  <div class="uhfp-results-wrapper">
    <ApolloQuery
      :query="require('../graphql/queries/providersByParams.gql')"
      :update="({ providers }) => {
        return providers.nodes
          .map(node => node)
          .sort((a, b) => {
            const nameA = a.lastName.toLowerCase()
            const nameB = b.lastName.toLowerCase()
            if (nameA < nameB) {
              return -1
            } else if (nameA > nameB) {
              return 1
            } else {
              return 0
            }
          })
          .sort((a, b) => b.isAcceptingPatients - a.isAcceptingPatients)
      }"
      :variables="{
        category,
        lastName,
        location,
        useParameters,
        specialties,
      }"
    >
      <template v-slot="{ result: { error, data }, isLoading }">
        <loading-list v-if="isLoading">
          <h2>Please wait while we find your providers.</h2>
        </loading-list>
        <p v-else-if="error">Error... {{ error }}</p>
        <div v-else-if="data">
          <h2>Results</h2>
          <div>
            <div class="uhfp-back-button-container">
              <router-link to="/" class="btn-health">New Search</router-link>
            </div>
            <results-text 
              :length="data.length"
              :location="location || ''"
              :lastName="lastName || ''"
              :specialties="specialties"
            />
            <ul class="pr-list">
              <li
                :key="index"
                v-for="(provider, index) in data"
                class="pr-item"
              >     
                <div class="pr-image-container">
                  <router-link 
                    :to="`/physician/${provider.profileId}`"
                    :aria-label="`More info about ${fullName(provider.firstName, provider.middleName, provider.lastName)}` | trim"
                    class="image-link"
                  >
                    <headshot 
                      :name="`${fullName(provider.firstName, provider.middleName, provider.lastName)}` | trim" 
                      :profileId="provider.profileId" 
                    />
                  </router-link>
                </div>
                <div class="pr-detail-container">
                  <p class="pr-detail-name">
                    <strong>
                      {{ fullName(provider.firstName, provider.middleName, provider.lastName, provider.credentials) }}
                    </strong>
                  </p>
                  <provider-locations 
                    :clinics="provider.clinics.nodes"
                    :location="location" 
                  />
                  <accepting-patients-label 
                    :isAcceptingPatients="provider.isAcceptingPatients" 
                  />
                  <div class="pr-action-container">
                    <router-link
                      :to="`/physician/${provider.profileId}`"
                      class="btn btn-health"
                      :aria-label="`View bio for ${fullName(provider.firstName, provider.middleName, provider.lastName)}`"
                    >
                      View Bio
                    </router-link>
                  </div>
                </div>
                <div class="pr-info-container">
                  <p><strong>Specialties</strong></p>
                  <ul>
                    <li
                      :key="index"
                      v-for="({ name }, index) in constrainSpecialties(provider.specialties.nodes)"
                    >
                      {{ name }}
                    </li>
                  </ul>
                </div>     
              </li>
            </ul>
          </div>
        </div>
      </template>
    </ApolloQuery>
  </div>
</template>

<script>
import AcceptingPatientsLabel from './Results/AcceptingPatientsLabel'
import Headshot from './Images/Headshot'
import LoadingList from './Loading/LoadingList'
import ProviderLocations from './Results/ProviderLocations'
import ResultsText from './Results/ResultsText'

import apolloClient from '../apollo/apolloClient'

export default {
  name: 'provider-results',
  data() {
    return {
      category: '',
      lastName: '',
      location: '',
      useParameters: true,
      specialties: [],
      profileId: '',
      providers: [],
      isLoading: true,
      error: false
    }
  },
  components: {
    'accepting-patients-label': AcceptingPatientsLabel,
    'headshot': Headshot,
    'loading-list': LoadingList,
    'provider-locations': ProviderLocations,
    'results-text': ResultsText
  },
  methods: {
    constrainSpecialties(specialties) {
      return specialties.length > 4 ? specialties.slice(0, 4) : specialties
    },
    getParams: async () => {
      return apolloClient.query({
        query: require('../graphql/queries/routeParams.gql')
      }).then(({ data }) => {
        return data ? data.routeParams : {}
      }).catch(err => {
        console.log(`apollo error -> $${err}`);
        return {}
      })
    }
  },
  /**
   * 
   * beforeRouteEnter docs - https://router.vuejs.org/guide/advanced/navigation-guards.html#in-component-guards
   * 
   * @param {object} to the route which is being navigated to
   * @param {object} from the route which is being navigated away from
   * @param {function} next a function which is required to complete navigation. it can take a callback with a single argument which represents the current component.
   * 
   * In this case, we want to wait until the next tick (https://vuejs.org/v2/api/#vm-nextTick) of the component. this will "[d]efer the callback to be executed after the next DOM update cycle. Use it immediately after you’ve changed some data to wait for the DOM update."
   * 
   * 
   */
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.$nextTick(async function() {
        const params = await vm.getParams()
        const category = params.category || to.query.category || 'DOCTOR'
        vm.category = category.toUpperCase()
        vm.lastName = params.lastName || to.query.lastName
        vm.location = params.location || to.query.location
        vm.useParameters = params.useParameters || true
        vm.specialties = params.specialties || to.query.specialties || [ 'Family Medicine', 'Primary Care' ]
      })
    })
  }
}
</script>