<template>
  <div class="uhfp-results-wrapper">
    <div class="uhfp-back-button-container">
      <router-link v-if="fromResults" to="/results" class="btn-health">Back To Results</router-link>
      <router-link v-else-if="!fromResults" to="/" class="btn-health">Search for Providers</router-link>
    </div>
    <div>
      <basic-info
        :profileId="profileId"
        :viewForm="viewForm"
      />
      <additional-info
        :profileId="profileId"
        :viewForm="viewForm"
      />
    </div>
  </div>
</template>

<script>

import AdditionalInfo from './SingleProvider/AdditionalInfo'
import BasicInfo from './SingleProvider/BasicInfo'

import eventBus from '../eventBus'

export default {
  data() {
    return {
      email: '',
      profileId: this.$route.params.profileId,
      viewForm: false,
      fromResults: true
    }
  },
  components: {
    'additional-info': AdditionalInfo,
    'basic-info': BasicInfo,
  },
  created() {
    eventBus.$on('toggle-appt-request-form', payload => this.toggleForm(payload))
  },
  beforeDestroy() {
    eventBus.$off('toggle-appt-request-form')
  },
  mounted() {
    this.email = this.$route.query.email || this.$route.params.email || ''
    if (this.email === 'show') {
      this.viewForm = true
    }
  },
  methods: {
    toggleForm(payload) {
      this.viewForm = payload
    }
  },
  /**
   * 
   * Perform a check before the user enters the route to make sure that an appropriate button is displayed above the provider.
   * 
   * @param {object} to - the route the user is going to
   * @param {object} from - the route the user is coming from
   * @param {function} next - a function which moves navigation forward. takes an optional callback in order to access the current vue component instance.
   * 
   */
  beforeRouteEnter (to, from, next) {
    if (from.name !== 'results') {
      next(vm => {
        vm.fromResults = false
      })
    } else {
      next()
    }
  }
}
</script>