<template>
  <div class="single-provider-accordion-panel">
    <accordion-button
      :ariaControls="ariaControls"
      :ariaLabelledBy="ariaLabelledBy"
    >
      {{ title }}
    </accordion-button>
    <slot :ariaControls="ariaControls"></slot>
  </div>
</template>

<script>

import AccordionButton from './AccordionButton'

export default {
  components: {
    'accordion-button': AccordionButton
  },
  props: {
    ariaControls: String,
    ariaLabelledBy: String,
    title: String
  },
  data() {
    return {
      isActive: false
    }
  },
}
</script>