<template>
  <section class="single-provider-accordion">
    <slot></slot>
  </section>
</template>

<script>
import eventBus from '../../eventBus'
export default {
  data() {
    return {
      panels: []
    }
  },
  created() {
    eventBus.$on(
      'accordion-button-clicked', 
      payload => this.togglePanels(payload)
    )
    eventBus.$on(
      'accordion-button-previous',
      payload => this.previousButton(payload)
    )
    eventBus.$on(
      'accordion-button-next',
      payload => this.nextButton(payload)
    )
    eventBus.$on('select-first-button', () => this.setInitialPanel())
    eventBus.$on('select-last-button', () => this.setLastPanel())
  },
  beforeDestroy() {
    eventBus.$off('accordion-button-clicked')
    eventBus.$off('accordion-button-previous')
    eventBus.$off('accordion-button-next')
    eventBus.$off('select-first-button')
    eventBus.$off('select-last-button')
  },
  mounted() {
    this.panels = this.$children
    this.setInitialPanel()
  },
  methods: {
    setInitialPanel() {
      this.panels.map((panel, index) => {
        const panelButton = panel.$children[0]
        if (index === 0) {
          panelButton.isActive = true
          panelButton.isSelected = true
        } else {
          panelButton.isActive = false
          panelButton.isSelected = false
        }
      })
    },
    setLastPanel() {
      this.panels.map((panel, index) => {
        const panelButton = panel.$children[0]
        if (index === this.panels.length - 1) {
          panelButton.isActive = true
          panelButton.isSelected = true
        } else {
          panelButton.isActive = false
          panelButton.isSelected = false
        }
      })
    },
    /**
     * 
     * toggle the state of individual panels without closing others.
     * 
     * @param object - payload the accordion button instance
     * 
     */
    togglePanels(payload) {
      if (payload.isActive && payload.isSelected) {
        payload.isActive = false
        payload.isSelected = false
      } else {
        payload.isActive = true
        payload.isSelected = true
      }
    },
    selectLastButton() {
      const lastPanel = this.panels[this.panels.length - 1]
      this.panels.map(panel => {
        const panelButton = panel.$children[0]
        if (panel === lastPanel) {
          panelButton.$el.focus()
          panelButton.isSelected = true
        } else {
          panelButton.$el.blur()
          panelButton.isSelected = false
        }
        return button
      })
    },
    previousButton(payload) {
      const currentPanelIndex = this.panels.indexOf(payload.$parent)
      const previousPanel = this.panels[currentPanelIndex - 1] === undefined ?
        this.panels[this.panels.length - 1] :
        this.panels[currentPanelIndex - 1]

      this.panels.map(panel => {
        const panelButton = panel.$children[0]
        if (panel === previousPanel) {
          panelButton.$el.focus()
          panelButton.isSelected = true
        } else {
          panelButton.$el.blur()
          panelButton.isSelected = false
        }
        return panel
      })
    },
    nextButton(payload) {
      const currentPanelIndex = this.panels.indexOf(payload.$parent)
      const nextPanel = this.panels[currentPanelIndex + 1] === undefined ?
        this.panels[0] :
        this.panels[currentPanelIndex + 1]

      this.panels.map(panel => {
        const panelButton = panel.$children[0]
        if (panel === nextPanel) {
          panelButton.$el.focus()
          panelButton.isSelected = true
        } else {
          panelButton.$el.blur()
          panelButton.isSelected = false
        }
        return panel
      })
    }
  },
}
</script>