<template>
  <button
    class="sp-accordion-button"
    :aria-controls="ariaControls"
    :aria-disabled="this.isActive ? 'true' : 'false'"
    :aria-expanded="this.isActive ? 'true' : 'false'"
    :aria-selected="this.isSelected ? 'true' : 'false'"
    :aria-labelledby="ariaLabelledBy"
    @click="clickHandler"
    @keydown.space="clickHandler"
    @keydown.up.prevent="goUp"
    @keydown.down.prevent="goDown"
    @keydown="selectFirstOrLast"
  >
    <slot></slot>
    <span v-html="isActive ? '-' : '+'"></span>
  </button>
</template>

<script>

import eventBus from '../../eventBus'

export default {
  data() {
    return {
      isActive: false,
      isSelected: false
    }
  },
  props: {
    ariaControls: String,
    ariaLabelledBy: String
  },
  methods: {
    clickHandler() {
      eventBus.$emit('accordion-button-clicked', this)
    },
    goUp() {
      eventBus.$emit('accordion-button-previous', this)
    },
    goDown() {
      eventBus.$emit('accordion-button-next', this)
    },
    selectFirstOrLast(evt) {
      // allow only the home or end keys
      if (evt.which === 36) {
        evt.preventDefault()
        eventBus.$emit('select-first-button')
      } else if (evt.which === 35) {
        evt.preventDefault()
        eventBus.$emit('select-last-button')
      } else {
        return
      }
    }
  }
}
</script>