<template>
  <img 
    :src="`https://files-universityofconn.netdna-ssl.com/shared/health/provider-images/${this.providerImage}.png`" 
    :alt="this.imageAlt"
    @error="imageError"   
  />
</template>

<script>
export default {
  props: {
    name: String,
    profileId: String
  },
  data() {
    return {
      providerImage: this.$props.profileId,
      imageAlt: this.$props.name,
      hasImageError: false
    }
  },
  methods: {
    imageError: function(evt) {
      if (evt.type === 'error') {
        this.hasImageError = true
        this.providerImage = 'oak-leaf'
        this.imageAlt = 'UConn oak leaf'
      }
    }
  }
}
</script>