#find-provider {
  div[role="tablist"] {
    display: block;
    margin: 30px 0;
    @media screen and (min-width: $tablet) {
      display: flex;
      margin-bottom: -1px;
    }
  }
  .provider-search-button {
    background-color: $light-grey;
    border-color: $medium-grey;
    border-width: 1px;
    color: $health-teal;
    display: block;
    flex: 1 1 auto;
    font-size: 16px;
    line-height: 1.3;
    margin-top: 8px;
    text-transform: uppercase;
    width: 100%;
    &:active,
    &:focus {
      top: 0;
    }
    &:hover,
    &:focus {
      background-color: #ffffff;
      color: inherit;
    }
    &:last-child {
      border-width: 1px;
    }
    &.active {
      background-color: $white;
      color:  $uconn-blue;
      @media screen and (min-width: $tablet) {
        border-bottom: 1px solid transparent;
      }
    }
    &.selected {
      background-color: $white;
    }
    @media screen and (min-width: $tablet) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-width: 1px 0 1px 1px;
    }
  }
}