<template>
  <ApolloQuery
    :query="require('../../graphql/queries/singleProviderAdditional.gql')"
    :variables="{ profileId }"
  >
    <template v-slot="{ result: { error, data }, isLoading }">
      <loading v-if="isLoading" />
      <p v-else-if="error">Error fetching additional data for {{ profileId }}... {{ error }} </p>
      <div v-else-if="data" class="single-provider-result" aria-live="polite" role="region">
        <request-appointment 
          v-if="viewForm && data !== null"
          :provider="`${data.provider.firstName} ${data.provider.middleName} ${data.provider.lastName}, ${data.provider.credentials}`"
        >
          <request-appointment-form 
            :provider="`${data.provider.firstName} ${data.provider.middleName} ${data.provider.lastName}, ${data.provider.credentials}`"
            :specialties="data.provider.specialties.nodes" 
          />
        </request-appointment>
        <accordion v-else>
          <accordion-panel
            v-if="data.provider.clinics.nodes !== null && data.provider.clinics.nodes.length" 
            ariaControls="office-locations-panel"
            ariaLabelledBy="office-locations-button" 
            title="Office Locations"
          >
            <office-locations
              :id="'office-locations-panel'" 
              :locations="data.provider.clinics"
            />
          </accordion-panel>
          <accordion-panel
            v-if="data.provider.subspecialties.nodes !== null && data.provider.subspecialties.nodes.length"
            aria-controls="subspecialties-panel"
            ariaLabelledBy="subspecialties-button"
            title="Subspecialties"
          >
            <subspecialties 
              :id="'subspecialties-panel'"
              :specs="data.provider.subspecialties"
              role="region"
            />
          </accordion-panel>
          <accordion-panel
            v-if="data.provider.webSites.nodes !== null && data.provider.webSites.nodes.length"
            ariaControls="websites-panel"
            ariaLabelledBy="websites-button"  
            title="Websites"
          >
            <websites
              :id="'websites-panel'" 
              :websites="data.provider.webSites"
              role="region"
            />
          </accordion-panel>
          <accordion-panel
            v-if="data.provider.languages !== null && data.provider.languages.length"
            ariaControls="languages-panel"
            ariaLabelledBy="languages-button"
            title="Languages"
          >
            <languages
              :id="'languages-panel'"
              :languages="data.provider.languages"
              role="region"
            />
          </accordion-panel>
          <accordion-panel
            v-if="data.provider.professionalProfile.clinicalProfile !== null && 
              data.provider.professionalProfile.clinicalProfile.length"
            ariaControls="clinical-interests-panel"
            ariaLabelledBy="clinical-interests-button"  
            title="Clinical Interests"
          >
            <clinical-interests
              :id="'clinical-interests-panel'"
              :clinicalProfile="data.provider.professionalProfile.clinicalProfile"
              role="region"
            />
          </accordion-panel>
          <accordion-panel
            v-if="validateTraining(data.provider)"
            ariaControls="education-and-training-panel"
            ariaLabelledBy="education-and-training-button"              
            title="Education and Training"
          >
            <education-and-training
              :id="'education-and-training-panel'" 
              :boardCertification="data.provider.boardSpecialties"
              :education="data.provider.education"
              :fellowships="data.provider.fellowships"
              :internships="data.provider.internships"
              :residencies="data.provider.residencies"
              role="region"
            />
          </accordion-panel>
          <accordion-panel
            v-if="data.provider.hospitalAffiliations.nodes !== null && data.provider.hospitalAffiliations.nodes.length"
            ariaControls="hospital-affiliations-panel"
            ariaLabelledBy="hospital-affiliations-button"              
            title="Hospital Affiliations"
          >
            <hospital-affiliations
              :id="'hosipital-affiliations-panel'" 
              :affiliations="data.provider.hospitalAffiliations"
              role="region"
            />
          </accordion-panel>
          <accordion-panel
            v-if="data.provider.honorAndAwards.nodes !== null && data.provider.honorAndAwards.nodes.length"
            ariaControls="honors-awards-panel"
            ariaLabelledBy="honors-awards-button"
            title="Honors and Awards"
          >
            <honors-awards
              :id="'honors-awards-panel'"
              :honorAndAwards="data.provider.honorAndAwards"
              role="region"
            />
          </accordion-panel>
        </accordion>
        <div v-if="data.provider.videoProfileLink">
          <youtube :youtubeURL="data.provider.videoProfileLink" role="region" />
        </div>
      </div>
      <!-- <single-provider-data :provider="data.provider" /> -->
    </template>
  </ApolloQuery>
</template>

<script>

import Accordion from '../Accordion/Accordion'
import AccordionPanel from '../Accordion/AccordionPanel'
import ClinicalInterests from './ClinicalInterests'
import EducationAndTraining from './EducationAndTraining'
import HonorsAndAwards from './HonorsAndAwards'
import HospitalAffiliations from './HospitalAffiliations'
import Languages from './Languages'
import LoadingSingleProviderAccordion from '../Loading/LoadingSingleProviderAccordion'
import OfficeLocations from './OfficeLocations'
import SingleProviderData from '../StructuredData/SingleProviderData'
import Subspecialties from './Subspecialties'
import Websites from './Websites'
import YouTube from './YouTube'

const RequestAppointment = () => import(/* webpackChunkName: "uhfp-request-appt" */ './RequestAppointment')
const RequestAppointmentForm = () => import(/* webpackChunkName: "uhfp-request-appt-form" */ '../Forms/RequestAppointmentForm')

export default {
  props: {
    profileId: String,
    viewForm: Boolean
  },
  components: {
    'accordion': Accordion,
    'accordion-panel': AccordionPanel,
    'clinical-interests': ClinicalInterests,
    'education-and-training': EducationAndTraining,
    'honors-awards': HonorsAndAwards,
    'hospital-affiliations': HospitalAffiliations,
    'languages': Languages,
    'loading': LoadingSingleProviderAccordion,
    'office-locations': OfficeLocations,
    'request-appointment': RequestAppointment,
    'request-appointment-form': RequestAppointmentForm,
    'single-provider-data': SingleProviderData,
    'subspecialties': Subspecialties,
    'websites': Websites,
    'youtube': YouTube
  },
  methods: {
    validateTraining(provider) {
      const hasBoardSpecialites = provider.boardSpecialties.nodes !== null
      const hasEducation = provider.education.nodes !== null
      const hasInternships = provider.internships.nodes !== null
      const hasFellowships = provider.fellowships.nodes !== null
      const hasResidencies = provider.residencies.nodes !== null

      return hasBoardSpecialites || hasEducation || hasInternships || hasFellowships || hasResidencies ?
        true : false
    }
  }
}
</script>