<template>
  <ApolloQuery
    :query="require('../../graphql/queries/singleProviderBasic.gql')"
    :variables="{ profileId }"
  >
    <template v-slot="{ result: { error, data }, isLoading }">
      <div v-if="isLoading">
        <loading />
      </div>
      <p v-else-if="error">Error fetching data for {{ profileId }}... {{ error }}</p>
      <div v-else-if="data">
        <general-data 
          :toggleButton="viewForm"
          :provider="{
            firstName: data.provider.firstName,
            middleName: data.provider.middleName,
            lastName: data.provider.lastName,
            profileId: data.provider.profileId,
            credentials: data.provider.credentials,
            specialties: data.provider.specialties,
            isAcceptingPatients: data.provider.isAcceptingPatients
          }"
        />
      </div>
    </template>
  </ApolloQuery>
</template>

<script>

import GeneralData from './GeneralData'
import LoadingSingleProvider from '../Loading/LoadingSingleProvider'

export default {
  props: {
    profileId: String,
    viewForm: Boolean,
  },
  components: {
    'general-data': GeneralData,
    'loading': LoadingSingleProvider
  }
}
</script>