<template>
  <div>
    <table>
      <tbody>
        <tr v-if="education.nodes.length">
          <td>Education</td>
          <td>
            <p
              :key="index"
              v-for="(ed, index) in education.nodes"
            >
              {{ ed.degree | trim }}, {{ ed.institution | trim }} <span v-if="ed.major.length">- {{ ed.major | trim }}</span><span v-if="ed.startYear > 0">, {{ ed.startYear | trim }}</span> <span v-if="ed.endYear > 0">- {{ ed.endYear | trim }}</span>
            </p>
          </td>
        </tr>
        <training 
          title="Internship"
          :data="internships.nodes"
        />
        <training 
          title="Residency"
          :data="residencies.nodes"
        />
        <training 
          title="Fellowship"
          :data="fellowships.nodes"
        />
        <tr v-if="boardCertification.nodes.length">
          <td>Board Certification</td>
          <td>
            <p
              :key="index"
              v-for="(cert, index) in filterCertifications()"
            >
              {{ cert | trim }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Training from './Training'
export default {
  props: {
    boardCertification: Object,
    education: Object,
    fellowships: Object,
    internships: Object,
    residencies: Object,
  },
  components: {
    'training': Training
  },
  data() {
    return {
      certifications: []
    }
  },
  mounted() {
    this.certifications = this.$props.boardCertification.nodes.map(cert => cert.certificationSpecialtyType)
  },
  methods: {
    filterCertifications() {
      return [...new Set(this.certifications)]
    }
  }
}
</script>