<template>
  <div class="provider-single ps-general-data">
    <div class="ps-image-container">
      <headshot 
        :name="fullName(provider.firstName, provider.middleName, provider.lastName)" 
        :profileId="provider.profileId" 
      />
    </div>
    <div class="ps-detail-container">
      <h2>{{ fullName(provider.firstName, provider.middleName, provider.lastName, provider.credentials) }}</h2>
      <p><strong :key="index" v-for="(spec, index) in provider.specialties.nodes"><span v-if="index !== 0">; </span>{{ spec.name | filterSpecialty | trim }}</strong></p>
      <accepting-patients-label
        :isAcceptingPatients="provider.isAcceptingPatients"
      />
      <div v-show="provider.isAcceptingPatients" class="appt-toggle-container">
        <button
          v-html="viewForm ? 'View Bio' : 'Request An Appointment'"
          @click="clickHandler"
        >
          Request An Appointment
        </button>
      </div>
    </div>
  </div>
</template>

<script>

import eventBus from '../../eventBus'

import AcceptingPatientsLabel from '../Results/AcceptingPatientsLabel'
import Headshot from '../Images/Headshot'

export default {
  components: {
    'accepting-patients-label': AcceptingPatientsLabel,
    'headshot': Headshot
  },
  props: {
    provider: Object,
    toggleButton: Boolean
  },
  data() {
    return {
      viewForm: false
    }
  },
  mounted() {
    this.$nextTick(function() {
      this.viewForm = this.$props.toggleButton
    })
  },
  methods: {
    clickHandler() {
      this.viewForm = !this.viewForm
      eventBus.$emit('toggle-appt-request-form', this.viewForm)
    }
  }
}
</script>