<template>
  <div>
    <table>
      <thead>
        <tr>
          <th>Name of Award/Honor</th>
          <th>Awarding Organization</th>
        </tr>
      </thead>
      <tbody>
        <tr
          :key="index"
          v-for="({ awardingOrg, description, yearReceived }, index) in sortedAwards()"
        >
          <td><span class="award-date">{{ yearReceived }} -</span> {{ description }}</td>
          <td>{{ awardingOrg }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: {
    honorAndAwards: Object
  },
  methods: {
    sortedAwards(){
      let awardsByYear = this.$props.honorAndAwards.nodes
      //awardsByYear.sort((a,b) => (a.yearReceived > b.yearReceived) ? 1 : -1)
      awardsByYear = this.merge_sort_dates(awardsByYear)
      return awardsByYear
    },
    merge_sort_dates(arr){
      if (arr.length <=1 ){
        return arr;
      }
      const pivot = Math.floor(arr.length / 2);
      const left_arr = arr.slice(0,pivot);
      const right_arr = arr.slice(pivot,arr.length);
      return this.merge_dates(this.merge_sort_dates(left_arr), this.merge_sort_dates(right_arr))
    },
    merge_dates(left_arr,right_arr){
      let output = [], indexLeft = 0, indexRight = 0;
      while (indexLeft < left_arr.length && indexRight<right_arr.length){
        if (left_arr[indexLeft].yearReceived > right_arr[indexRight].yearReceived) {
          output.push(left_arr[indexLeft]);
          indexLeft++;
        } else {
          output.push(right_arr[indexRight]);
          indexRight++;
        }
      }
      if (indexLeft < left_arr.length){
        output = output.concat(left_arr.slice(indexLeft));
      }
      if (indexRight < right_arr.length){
        output = output.concat(right_arr.slice(indexRight));
      }
      return output;
    }
  }
}
</script>