<template>
  <div>
    <ul>
      <li
        :key="index"
        v-for="(hospital, index) in affiliations.nodes"
      >
        {{ hospital.description | trim }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    affiliations: Object
  }
}
</script>