<template>
  <div :id="id">
    <ul>
      <li
        :key="index"
        v-for="(language, index) in languages"
      >
        {{ language }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    id: String,
    languages: Array
  }
}
</script>