<template>
  <div :id="id" role="region">
    <div class="office-wrapper">
      <div
        :key="index"
        v-for="(clinic, index) in providerLocations"
        class="location-container"
      >
        <p><strong>{{ clinic.locationName | trim }}</strong></p>
        <p v-if="clinic.locationSubName!=null && clinic.locationSubName.length>0">{{ clinic.locationSubName | trim }}</p>
        <p>{{ clinic.address1 | trim }}</p>
        <p v-if="clinic.address2!=null && clinic.address2.length>0">{{ clinic.address2 | trim }}</p>
        <p>{{ clinic.city | trim }}, {{ clinic.state | trim }} {{ clinic.zip | trim }}</p>
        <p><a :href="`tel:${clinic.phoneLink}`">{{ clinic.mainTelephoneNumber }}</a></p>
        <p><a :href="clinic.linkToDirections">Directions</a></p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    ariaControls: String,
    id: String,
    locations: Object,
  },
  data() {
    return {
      providerLocations: [],
    }
  },
  mounted() {
    this.providerLocations = this.$props.locations.nodes
    this.whitelistClinicPhoneNumbers()
  },
  methods: {
    whitelistClinicPhoneNumbers() {
      this.providerLocations.map(location => {
        const { whitelistSettings } = adminOptions
        const fullLocation = `${location.locationName} (${location.city})`
        if (whitelistSettings.indexOf(location.locationName) < 0) {
          location.mainTelephoneNumber = '1-84-GET-UCONN'
          location.phoneLink = '18443882666'
        } else {
          location.phoneLink = location.mainTelephoneNumber
        }
        return location
      })
    }
  }
}
</script>