<template>
  <div id="uhfp-request-appt-wrapper">
    <div>
      <h3>Request an Appointment</h3>
      <p>Please call your preferred location to make an appointment, or fill out the form below for <strong>{{ provider }}</strong></p>
    </div>
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    provider: String
  }
}
</script>