<template>
  <div>
    <ul>
      <li
        :key="index"
        v-for="(spec, index) in specs.nodes"
      >
        <p v-if="spec.link.length">
          <a :href="spec.link">
            {{ spec.name | trim }}
          </a>
        </p>
        <p v-else>
          {{ spec.name | trim }}
        </p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    specs: Object
  }
}
</script>