<template>
  <tr v-if="data.length">
    <td>{{ title }}</td>
    <td>
      <p
        :key="index"
        v-for="(item, index) in data"
      >
        {{ item.title | trim }}, {{ item.institution | trim }}<span v-if="item.endYear > 0">, {{ item.endYear | trim }}</span>
      </p>
    </td>
  </tr>
</template>

<script>
// internships, residencies, and fellowships all have the same format
export default {
  props: {
    title: String,
    data: Array
  }
}
</script>