<template>
  <div :id="id">
    <ul>
      <li
        :key="index"
        v-for="(site, index) in websites.nodes"
      >
        <a :href="site.url">{{ site.name | trim }}</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    id: String,
    websites: Object
  }
}
</script>