<template>
  <div>
    <youtube :video-id="getVideoId(youtubeURL)" />
  </div>
</template>

<script>

import { getIdFromURL, YouTubePlayer } from 'vue-youtube-embed'

import vueYouTube from '../../vendor/vueYouTube'

export default {
  props: {
    youtubeURL: String
  },
  components: {
    'youtube': YouTubePlayer
  },
  methods: {
    getVideoId(url) {
      return getIdFromURL(url)
    }
  }
}
</script>