<template>
  <script type="application/ld+json" v-html="json" />
</template>

<script>
export default {
  props: {
    provider: Object
  },
  data() {
    return {
      json: {}
    }
  },
  mounted() {

    const { provider } = this.$props

    const test = provider.clinics.nodes.map(clinic => {
        return JSON.stringify({
          streetAddress: clinic.address1,
          //streetAddress2: clinic.address2, //May need to add this? Seems to be unrelated to find-a provider results
          addressLocality: clinic.city,
          postalCode: clinic.zip,
          telephone: clinic.phoneLink
        })
      })

      console.log(test)


    this.json = {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": `${provider.firstName} ${provider.middleName} ${provider.lastName}`,
      "image": `https://files-universityofconn.netdna-ssl.com/shared/health/provider-images/${provider.lastName}-${provider.firstName}.png`,
      "honorificSuffix": `${provider.credentials}`,
      "address": `[${test}]`
    }
  }
}
</script>