#uhfp-settings-form ul {
  max-width: 600px;
}

#uhfp-settings-form label {
  display: block;
  margin-bottom: 8px;
}

#uhfp-settings-form li > div {
  align-items: stretch;
  background-color: lightblue;
  border-radius: 3px;
  color: black;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin: 2px;
}


#uhfp-settings-form li button,
#uhfp-settings-form li span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 16px 8px;
}

#uhfp-settings-form select[multiple] {
  max-width: unset;
  width: 100%;
}

#uhfp-settings-form select[multiple]:hover,
#uhfp-settings-form select[multiple]:focus {
  color: inherit;
}

#uhfp-settings-form select[multiple] option:hover,
#uhfp-settings-form select[multiple] option:focus {
  color: #007cba;
}

#uhfp-settings-form .button-container,
#uhfp-settings-form .filter-container {
  margin-top: 16px;
}

#uhfp-settings-form .button-green {
  background-color: lightgreen;
  border: 1px solid green;
  color: black;
  font-weight: bold;
}

#uhfp-settings-form .button-red {
  background-color: #f55;
  border: 1px solid red;
  color: black;
  font-weight: bold;
}